@import "tailwindcss";
/* CSS */
@import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');

:root {
  --background: #272e33;
  --background-rgb: 39, 46, 51;
  --foreground: #d3c6aa;
  --accent: #a7c080;
  --font-sans: 'Fira Code', monospace;
  --font-nerd: 'FiraCodeNerdFont', monospace;
  --iosevka: 'Iosevka', monospace;
  --blue: #7fbbb3;
  --aqua: #83c092;
  --purple: #d699b6;
  --red: #e67e80;
}

@font-face {
  font-family: 'FiraCodeNerdFont';
  src: url('/font/FiraCodeNerdFontMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCodeNerdFont';
  src: url('/font/FiraCodeNerdFontMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('/font/Iosevka-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272e33;
    --background-rgb: 39, 46, 51;
    --foreground: #ededed;
    --accent: #a7c080;
  }
}

.profile-pic {
  width: 100pt;
  height: 100pt;
  margin-right: 1pc;
  border-radius: 1%;
  border: 2px solid var(--accent);
}

.font-iosevka {
  font-family: var(--iosevka);
}

.font-color-blue {
  color: var(--blue);
}
.font-color-aqua {
  color: var(--aqua);
}
.font-color-purple {
  color: var(--purple);
}
.font-color-accent {
  color: var(--accent);
}
.font-color-red {
  color: var(--red);
}

.font-FiraCodeNerd {
  font-family: var(--font-nerd);
}

.body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'FiraCodeNerdFont', 'Iosevka', monospace;
  border: 1px solid var(--accent); /* Inner border */
  outline: 4px solid var(--background); /* Middle border */
  box-shadow: 0 0 0 7px var(--accent); /* Outer border */
  border-radius: 8px; /* Optional: Add rounded corners */
  padding: 16px; /* Optional: Add padding inside the border */
}

.body-transparent {
  background: rgba(var(--background-rgb), 0.9); /* Transparent background using --background */
  color: var(--foreground); /* Text color */
  font-family: 'FiraCodeNerdFont', 'Iosevka', monospace;
  border: 1px solid var(--accent); /* Inner border */
  outline: 4px solid rgba(var(--background-rgb), 0.9); /* Semi-transparent middle border */
  box-shadow: 0 0 0 7px var(--accent); /* Outer border */
  border-radius: 8px; /* Optional: Add rounded corners */
  padding: 16px; /* Optional: Add padding inside the border */
  backdrop-filter: blur(2px); /* Adds a blur effect */
  -webkit-backdrop-filter: blur(2px); /* For Safari support */
}

.bg-custom {
  background-image: url('/bg/bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-tab {
  color: var(--aqua);
  font-family: 'FiraCodeNerdFont', monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bg-tab2 {  
  font-family: 'FiraCodeNerdFont', monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}